@import "pretendard/dist/web/static/pretendard.css";

:global(.slick-arrow) {
  display: none !important;
}

body {
  background-color: #fcf5e7;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}
/* Nav 아래*/
.SubNavBox {
  width: 100%;
  height: 5vh;
  background-color: #a18363;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*오늘은 무슨이야기부분 */
.SubText {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  -webkit-text-stroke-color: #bdb1b1;
  -webkit-text-stroke-width: 0.2px;
}

/* 헤더 전체*/
.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  gap: 2%;
}

/*오늘의 주제 */
.HeadText {
  font-size: 3vh;
  color: black;
  margin-top: 7%;
}
/*랜덤주제 있는 박스 */
.HeadBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36vw;
  height: 36vh;
  background-color: #f5e7d2;
}
/*랜덤주제 텍스트 */
.HeadBoxText {
  position: relative;
  color: #7b5d43;
  font-size: 3.8vh;
  margin-top: 8%;
  height: 9vh;
  width: 31vw;
  text-align: center;
}
.Prompt {
  font-size: 2.2vh;
  font-weight: 600;
}
/* 작성버튼*/
.WriteButton {
  background-size: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vh;
  text-align: center;
  -webkit-text-stroke-color: #bdb1b1;
  -webkit-text-stroke-width: 0.1px;
  background-color: #7b5d43;
  width: 9vw;
  height: 5.5vh;
  border-radius: 13px;
  margin-top: auto;
  margin-bottom: 2%;
  padding-right: 0.5vw;
  cursor: pointer;
  gap: 5%;
}
.WriteButton:hover {
  transform: scale(1.05);
}
/*버튼안에 이미지 */
.ButtonImage {
  height: 2vh;
  margin-right: -5%;
}

/*다른사람이 쓴 부분 컨테이너 */
.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  position: relative;
  height: 58vh;
  width: 100vw;
  gap: 20%;
  background-color: #f5e7d2;
}

.Maintop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3%;
}

/* 최근 사람들이 쓴일기부분*/
.MainText {
  font-size: 3vh;
  color: black;
}

.UserInfoButton {
  position: absolute;
  right: 5%;
  width: 7vw;
  height: 5vh;
  background-color: #7b5d43;
  border-radius: 13px;
  color: white;
  cursor: pointer;
  border: none;
}

.UserInfoButton:hover {
  transform: scale(1.05);
}

/* 다른사람 쓴 일기보는 박스 */
.DaliyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
  width: 27vw;
  height: 27.5vh;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-bottom: 5%;
}
/* 슬라이드 부분 컨테이너 */
.SliderContainer {
  width: 100vw;
  height: 40vh;
  margin: auto;
}
.maintest {
  display: flex;
  justify-content: center; /* 가운데 기준 */
  align-items: center;
  position: relative;
  width: 100%;
}
.MyProfile {
  cursor: pointer;
  margin-bottom: 16vh;
  position: absolute;
  margin-right: 18vw;
  width: 3vw;
  height: 6vh;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
.MyProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*일기 안 사용자 텍스트 */
.DaliyTitleText {
  position: absolute;
  text-align: center;
  height: 5vh;
  font-weight: bold;
  font-size: 3vh;
  margin-top: -5%;
}

/*일기쓴 날짜 텍스트 */
.DaliyDateText {
  position: absolute;
  right: 5%;
  margin-left: 14%;
  margin-bottom: 2.2%;
}
/* 일기 진짜 제목 텍스트*/
.DaliyTitle2Text {
  margin-top: -2.2%;
  text-align: center;
  flex: 1;
  font-size: 2vh;
  overflow-wrap: break-word !important;
}

.Line {
  width: 88%;
  height: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: black;
}
.DaliyContentText {
  text-align: center;
  font-size: 2vh;
}

.footerCnontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  background-color: #f9dcba;
  width: 100%;
  height: 40vh;
}
.FooterTitleText {
  margin-top: 10%;
  text-align: center;
}

.FooterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21vw;
  height: 30vh;
  background-color: white;
  border-radius: 4vw;
}
.FooterImg {
  width: 32%;
}
.Footertext {
  margin-top: 3vh;
  font-size: 0.9vw;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1280px) {
  .SubNavBox {
    height: 4vh;
  }
  .SubText {
    font-size: 0.8em;
    font-weight: 600;
  }
  .Prompt {
    font-size: 2vh;
  }
  .WriteButton {
    font-size: 1.4vh;
    font-weight: bold;
    width: 7vw;
    height: 4vh;
  }
  .ButtonImage {
    height: 1.5vh;
  }
  .DaliyTitleText {
    font-size: 2.5vh;
  }
  .DaliyDateText {
    font-size: 1.5vh;
    font-weight: bold;
  }
  .DaliyTitle2Text {
    font-size: 1.5vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.5vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 8vw;
    height: 3.5vh;
    font-size: 1.4vh;
  }
}
@media (max-width: 1024px) {
  .SubNavBox {
    height: 3vh;
  }
  .SubText {
    font-size: 0.8em;
    font-weight: 600;
    -webkit-text-stroke-color: #bdb1b1;
    -webkit-text-stroke-width: 0.2px;
  }
  .Prompt {
    font-size: 2.4vh;
  }
  .WriteButton {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.5vh;
  }
  .DaliyTitleText {
    font-size: 2vh;
  }
  .DaliyDateText {
    font-size: 1.6vh;
    font-weight: bold;
  }
  .DaliyTitle2Text {
    font-size: 1.6vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 7.5vw;
    height: 3.9vh;
    font-size: 1.3vh;
  }
}
@media (max-width: 768px) {
  .SubNavBox {
    height: 2.8vh;
  }
  .SubText {
    font-size: 0.5em;
  }
  .HeadBox {
    height: 32vh;
  }
  .HeadBoxText {
    font-size: 2.5vw;
  }
  .Prompt {
    font-size: 2.3vh;
  }
  .WriteButton {
    font-size: 1.1vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.3vh;
  }
  .DaliyBox {
    width: 30vw;
    height: 27.5vh;
    margin-bottom: 5%;
  }
  .DaliyTitleText {
    font-size: 2.1vh;
  }
  .DaliyDateText {
    font-size: 1.2vh;
    font-weight: bold;
    margin-left: -20%;
  }
  .DaliyTitle2Text {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 8.5vw;
    height: 3.9vh;
    font-size: 1.1vh;
  }
  .FooterImg {
    width: 35%;
  }
  .Footertext {
    font-size: 1.3vw;
  }
}
@media (max-width: 640px) {
  .SubNavBox {
    height: 2.6vh;
  }
  .SubText {
    font-size: 0.5rem;
  }
  .HeadBox {
    width: 50vw;
    height: 32vh;
  }
  .HeadBoxText {
    font-size: 2.5vw;
  }
  .Prompt {
    font-size: 2.3vh;
  }
  .WriteButton {
    width: 12vw;
    font-size: 1.3vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.3vh;
  }
  .DaliyBox {
    width: 30vw;
    height: 27.5vh;
    margin-bottom: 5%;
  }
  .MyProfile {
    margin-right: 10%;
  }
  .DaliyTitleText {
    font-size: 2.1vh;
  }
  .DaliyDateText {
    font-size: 1.2vh;
    font-weight: bold;
    margin-left: -20%;
  }
  .DaliyTitle2Text {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 9vw;
    height: 3.9vh;
    font-size: 1.1vh;
  }
  .FooterBox {
    width: 24vw;
  }
  .FooterImg {
    width: 35%;
  }
  .Footertext {
    font-size: 1.3vw;
  }
}
@media (max-width: 576px) {
  .SubNavBox {
    height: 2.7vh;
  }
  .SubText {
    font-size: 0.3em;
  }
  .HeadBox {
    width: 50vw;
    height: 32vh;
  }
  .HeadBoxText {
    font-size: 2.5vw;
  }
  .Prompt {
    font-size: 2.3vh;
  }
  .WriteButton {
    width: 10vw;
    font-size: 1.1vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.3vh;
  }
  .DaliyBox {
    width: 30vw;
    height: 27.5vh;
    margin-bottom: 5%;
  }
  .MyProfile {
    margin-right: 10%;
  }
  .DaliyTitleText {
    font-size: 2.1vh;
  }
  .DaliyDateText {
    font-size: 1.2vh;
    font-weight: bold;
    margin-left: -20%;
  }
  .DaliyTitle2Text {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 8vw;
    height: 3.9vh;
    font-size: 1.1vh;
  }
  .FooterImg {
    width: 35%;
  }
  .Footertext {
    font-size: 1.3vw;
  }
}
@media (max-width: 480px) {
  .SubNavBox {
    height: 2.9vh;
  }
  .SubText {
    font-size: 1.4vh;
  }
  .Header {
    height: 37vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2.5vh;
  }
  .HeadBoxText {
    font-size: 2vh;
    margin-top: 5%;
  }
  .HeadBox {
    width: 65vw;
    height: 23vh;
  }
  .Prompt {
    font-size: 1.7vh;
  }
  .WriteButton {
    font-size: 1.1vh;
    width: 12vw;
    height: 3vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .MainContainer {
    height: 45vh;
    gap: 10%;
  }
  .DaliyBox {
    width: 50vw;
    height: 25vh;
    margin-bottom: 10%;
  }
  .MyProfile {
    position: static;
    margin: -20% auto 0 4%;
    width: 7vw;
    height: 7vw;
  }
  .Line {
    width: 90%;
    height: 0.5px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .DaliyTitleText {
    margin-top: -4%;
    font-size: 2vh;
  }
  .DaliyDateText {
    margin-bottom: 0;
    font-size: 1.3vh;
    font-weight: bold;
  }
  .DaliyTitle2Text {
    margin-top: 0;
    font-size: 1.5vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.5vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 12.5vw;
    height: 3.5vh;
    font-size: 1.1vh;
  }
  .footerCnontainer {
    height: 35vh;
  }
  .FooterTitleText {
    font-size: 3vw;
  }
  .FooterBox {
    height: 20vh;
  }
  .FooterImg {
    width: 35%;
  }
  .Footertext {
    font-size: 1.3vw;
  }
}

@media (max-width: 451px) {
  .SubNavBox {
    height: 2.7vh;
  }
  .SubText {
    font-size: 1.7vw;
  }
  .Header {
    height: 37vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2vh;
  }
  .HeadBoxText {
    font-size: 1.7vh;
    margin-top: 5%;
  }
  .HeadBox {
    width: 65vw;
    height: 20vh;
  }
  .Prompt {
    font-size: 1.4vh;
  }
  .WriteButton {
    font-size: 0.8vh;
    width: 13vw;
    height: 3vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .DaliyBox {
    width: 55vw;
  }
  .UserInfoButton {
    width: 13vw;
    font-size: 1.4vw;
  }
  .Footertext {
    font-size: 1.4vw;
  }
}

@media (max-width: 406px) {
  .SubNavBox {
    height: 2.7vh;
  }
  .SubText {
    font-size: 1.7vw;
  }
  .Header {
    height: 37vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2vh;
  }
  .HeadBoxText {
    font-size: 1.5vh;
  }
  .HeadBox {
    width: 65vw;
    height: 20vh;
  }
  .Prompt {
    margin-top: -3%;
    font-size: 1.4vh;
  }
  .WriteButton {
    font-size: 0.75vh;
    width: 14vw;
    height: 2.5vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .MainText {
    margin-top: -10%;
    font-size: 2vh;
    color: black;
  }
  .MainContainer {
    height: 26vh;
  }
  .DaliyBox {
    width: 40vw;
    height: 19vh;
  }
  .DaliyTitleText {
    margin-top: -1%;
    font-weight: bold;
    font-size: 1.4vh;
  }
  .DaliyDateText {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1vh;
  }
  .DaliyTitle2Text {
    margin-top: -0.5%;
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1vh;
    font-weight: bold;
  }
  .UserInfoButton {
    font-size: 1.3vw;
    width: 10vw;
    height: 2.5vh;
  }
  .Line {
    margin-bottom: 5%;
  }
  .MyProfile {
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 4%;
    width: 5.5vw;
    height: 5.5vw;
  }
  .footerCnontainer {
    height: 30vh;
  }
  .FooterTitleText {
    padding: 3%;
    font-size: 1.9vh;
    margin-left: 0%;
  }
  .FooterBox {
    width: 23vw;
    height: 14vh;
  }
}

@media (max-width: 400px) {
  .SubNavBox {
    height: 2vh;
  }
  .SubText {
    font-size: 1.5vw;
  }
  .Header {
    height: 37vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2vh;
  }
  .HeadBoxText {
    font-size: 1.5vh;
  }
  .HeadBox {
    width: 65vw;
    height: 20vh;
  }
  .Prompt {
    margin-top: -3%;
    font-size: 1.4vh;
  }
  .WriteButton {
    font-size: 0.75vh;
    margin-top: -1%;
    width: 12vw;
    height: 2.5vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .MainText {
    margin-top: -10%;
    font-size: 2vh;
    color: black;
  }
  .MainContainer {
    height: 26vh;
  }
  .DaliyBox {
    width: 40vw;
    height: 19vh;
  }
  .DaliyTitleText {
    margin-top: -1%;
    font-weight: bold;
    font-size: 1.4vh;
  }
  .DaliyDateText {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1vh;
  }
  .DaliyTitle2Text {
    margin-top: -0.5%;
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1vh;
    font-weight: bold;
  }
  .UserInfoButton {
    font-size: 1.15vw;
    width: 8vw;
    height: 2.5vh;
  }
  .Line {
    margin-bottom: 5%;
  }
  .MyProfile {
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 4%;
    width: 5.5vw;
    height: 5.5vw;
  }
  .footerCnontainer {
    height: 30vh;
  }
  .FooterTitleText {
    padding: 3%;
    font-size: 1.9vh;
    margin-left: 0%;
  }
  .FooterBox {
    width: 23vw;
    height: 14vh;
  }
}
