@import "pretendard/dist/web/static/pretendard.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcf5e7;
  height: 110vh;
  font-family: "Pretendard", sans-serif;
}

.headertext {
  margin-top: -10%;
  margin-bottom: 5%;
  padding-bottom: 1em;
  font-size: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputbox {
  width: 25em;
  height: 6vh;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 16px;
}

.submitbutton {
  width: 15em;
  height: 50px;
  margin-top: 90px;
  padding: 10px;
  background-color: #a18363;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.submitbutton:hover {
  transform: scale(1.02);
}

.GuideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -15%;
}
.GuideIdMessage {
  color: #a18363;
  font-weight: bold;
}
.SignUpLink {
  color: #555;
  margin-bottom: 5%;
  margin-top: -1%;
}

@media (max-width: 576px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 10%;
    padding-bottom: 1em;
    font-size: 31px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 23em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }

  .submitbutton {
    width: 15em;
    height: 50px;
    margin-top: 90px;
    padding: 10px;
    background-color: #a18363;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
    cursor: pointer;
  }
}
@media (max-width: 480px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 10%;
    padding-bottom: 1em;
    font-size: 30px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 22em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
}
@media (max-width: 450px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 10%;
    padding-bottom: 1em;
    font-size: 26px;
    font-family: "Pretendard", sans-serif;
  }
}

@media (max-width: 430px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 10%;
    padding-bottom: 1em;
    font-size: 26px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 18em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
}
@media (max-width: 410px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 14%;
    padding-bottom: 1em;
    font-size: 25px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 17em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
}
@media (max-width: 400px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 14%;
    padding-bottom: 1em;
    font-size: 25px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 17em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
}

@media (max-width: 375px) {
  .headertext {
    margin-top: -10%;
    margin-bottom: 14%;
    padding-bottom: 1em;
    font-size: 25px;
    font-family: "Pretendard", sans-serif;
  }

  .inputbox {
    width: 17em;
    height: 6vh;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
}
