@import "pretendard/dist/web/static/pretendard.css";

.InfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 11%;
  margin-top: 10%;
}
.LRBoxFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 내정보 아래쪽 박스 */
.InfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  height: 100%;
  width: 40%;
  gap: 15px;
}
.LeftBoxFlex {
  display: flex;
  width: 100%;
  gap: 20%;
  align-items: center;
  justify-content: center;
}
/* 내정보 박스 */
.MySecurityBox {
  width: 35vw;
  height: 32vh;
  background-color: #f9eede;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MyInfoBox {
  width: 35vw;
  height: 32vh;
  background-color: #f9eede;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyInfoBoxflex {
  display: flex;
  width: 80%;
}
.MyInfoBoxInfo {
  font-size: 1vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8%;
}
/* 내 프로필 보안 텍스트 */
.Titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 9vh;
  background-color: #f5e7d2;
  text-align: center;
  font-weight: 400;
  font-size: 1.6vw;
}
/* 프로필 사진박스 */
.ProfileBox {
  width: 7vw;
  height: 17vh;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

/* 프로필 이미지 */
.MyProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 잠굼 이미지 */
.LockImg {
  margin-top: 20%;
  width: 10vw;
  opacity: 0.5;
  background-repeat: no-repeat;
}
/* 잠굼이미지 컨테이너 */
.LockImgContianer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
/* 일기숨김 자리 */
.MyDiaryContinaer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}

.DiaryButton {
  background-color: #d9d9d9;
  width: 4.5vw;
  height: 3.5vh;
  border-radius: 20px;
  position: relative;
}
.isOn {
  background-color: #cdb98f;
}
.Circle {
  position: absolute;
  left: 0;
  width: 2vw;
  height: 3.5vh;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.UpdateCircle {
  transform: translate(130%, -50%);
}

.ProFileLink {
  color: black;
  cursor: pointer;
}
/* 비번 변경 */
.PsswordLink {
  color: black;
  text-decoration: none;
}

.MyActivityCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.Titlebox3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 9vh;
  background-color: #f5e7d2;
  font-weight: 400;
  font-size: 1.6vw;
}
/* 공개일 때 컨테이너 */
.MyActivityBox {
  width: 45vw;
  height: 55vh;
  background-color: #f9eede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 최근활동 박스 */
.RecentActivityBox {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
/* 캘린더 가는 링크 */
.MyCalenderLink {
  color: #685036;
}
/* 내일기 가기 링크 */
.MyDiaryLink {
  color: #685036;
}
/* 아래쪽 이미지 컨테이너 */
.ImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 일기장 이미지 */
.DiaryImg {
  width: 4vw;
}

@media (max-width: 1280px) {
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    font-size: 1.8vw;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 1.2vw;
  }
  .MyInfoBoxInfo {
    font-size: 1.2vw;
  }
  .DiaryButton {
    width: 5vw;
    height: 3.5vh;
  }
  .UpdateCircle {
    transform: translate(155%, -50%);
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }

  .Titlebox3 {
    font-size: 1.8vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    height: 40vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    font-size: 1.8vw;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 1.3vw;
  }
  .MyInfoBoxInfo {
    font-size: 1.3vw;
  }
  .DiaryButton {
    width: 5.5vw;
    height: 3.5vh;
  }
  .UpdateCircle {
    transform: translate(175%, -50%);
  }
  .Circle {
    height: 3.5vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }

  .Titlebox3 {
    font-size: 1.8vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    height: 40vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.9em;
    gap: 35px;
  }
}
@media (max-width: 768px) {
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 39vw;
    font-size: 2.5vw;
  }
  .MySecurityBox {
    width: 39vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 39vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 1.5vw;
  }
  .MyInfoBoxInfo {
    font-size: 1.5vw;
  }
  .DiaryButton {
    width: 6vw;
    height: 3vh;
  }
  .UpdateCircle {
    transform: translate(200%, -50%);
  }
  .Circle {
    height: 3vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 8%;
  }
  .Titlebox3 {
    font-size: 2.3vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    height: 35vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.85em;
    gap: 30px;
  }
}
@media (max-width: 640px) {
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 39vw;
    font-size: 2.5vw;
  }
  .MySecurityBox {
    width: 39vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 39vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 1.5vw;
  }
  .MyInfoBoxInfo {
    font-size: 1.5vw;
  }
  .DiaryButton {
    width: 6vw;
    height: 3vh;
  }
  .UpdateCircle {
    transform: translate(195%, -50%);
  }
  .Circle {
    height: 3vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 8%;
  }
  .Titlebox3 {
    font-size: 2.3vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.85em;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .InfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .ProfileBox {
    width: 17vw;
    height: 14vh;
  }
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 55vw;
    font-size: 2.5vw;
  }
  .MySecurityBox {
    width: 55vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 55vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 2vw;
    width: 40%;
  }
  .ProfileBox {
    width: 15vw;
    border-radius: 100%;
  }
  .MyInfoBoxInfo {
    font-size: 2vw;
  }
  .MyDiaryContinaer {
    gap: 10%;
  }
  .LeftBoxFlex {
    gap: 15%;
  }
  .DiaryButton {
    width: 7vw;
    height: 2.8vh;
  }
  .UpdateCircle {
    transform: translate(255%, -50%);
  }
  .Circle {
    height: 2.8vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 10%;
  }
  .Titlebox3 {
    width: 55vw;
    height: 9vh;
    font-size: 2.3vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    width: 55vw;
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.7em;
    gap: 25px;
  }
}

@media (max-width: 451px) {
  .InfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .ProfileBox {
    width: 17vw;
    height: 14vh;
  }
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 55vw;
    font-size: 2.5vw;
  }
  .MySecurityBox {
    width: 55vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 55vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 2vw;
  }
  .MyInfoBoxInfo {
    font-size: 2vw;
  }
  .DiaryButton {
    width: 7vw;
    height: 2.5vh;
  }
  .UpdateCircle {
    transform: translate(245%, -50%);
  }
  .Circle {
    height: 2.5vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 10%;
    padding-bottom: 2rem;
  }
  .Titlebox3 {
    width: 55vw;
    height: 9vh;
    font-size: 2.5vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    width: 55vw;
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.8em;
    gap: 25px;
  }
}

@media (max-width: 431px) {
  .InfoContainer {
    gap: 50px;
  }
  .ProfileBox {
    width: 17vw;
    height: 14vh;
  }
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 55vw;
    font-size: 3vw;
  }
  .MySecurityBox {
    width: 55vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 55vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 2.3vw;
  }
  .MyInfoBoxInfo {
    font-size: 2.3vw;
  }
  .DiaryButton {
    width: 7vw;
    height: 2.5vh;
  }
  .UpdateCircle {
    transform: translate(245%, -50%);
  }
  .Circle {
    height: 2.5vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 10%;
    padding-bottom: 2rem;
  }
  .Titlebox3 {
    width: 55vw;
    height: 7vh;
    font-size: 2.5vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    width: 55vw;
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.8em;
    gap: 20px;
  }
}

@media (max-width: 411px) {
  .InfoContainer {
    gap: 50px;
  }
  .ProfileBox {
    width: 17vw;
    height: 14vh;
  }
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 60vw;
    font-size: 3vw;
  }
  .MySecurityBox {
    width: 60vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 60vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 2.3vw;
  }
  .MyInfoBoxInfo {
    font-size: 2.3vw;
  }
  .DiaryButton {
    width: 7vw;
    height: 2.5vh;
  }
  .UpdateCircle {
    transform: translate(255%, -50%);
  }
  .Circle {
    height: 2.5vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 10%;
    padding-bottom: 2rem;
  }
  .Titlebox3 {
    width: 60vw;
    height: 7vh;
    font-size: 3vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    width: 60vw;
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.8em;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .InfoContainer {
    gap: 50px;
  }
  .ProfileBox {
    width: 17vw;
    height: 14vh;
  }
  /* 내 프로필 보안 텍스트 */
  .Titlebox {
    width: 60vw;
    font-size: 3vw;
  }
  .MySecurityBox {
    width: 60vw;
    height: 28vh;
  }
  .MyInfoBox {
    width: 60vw;
    height: 28vh;
  }
  /* 내정보 아래쪽 박스 */
  .InfoBox {
    font-size: 2.3vw;
  }
  .MyInfoBoxInfo {
    font-size: 2.3vw;
  }
  .DiaryButton {
    width: 7vw;
    height: 2.5vh;
  }
  .UpdateCircle {
    transform: translate(245%, -50%);
  }
  .Circle {
    height: 2.5vh;
  }
  .ProFileLink {
    margin-bottom: 1%;
  }
  /* 비번 변경 */
  .PsswordLink {
    margin-top: 2%;
  }
  .MyActivityCon {
    padding-top: 10%;
    padding-bottom: 2rem;
  }
  .Titlebox3 {
    width: 60vw;
    height: 7vh;
    font-size: 3vw;
  }
  /* 공개일 때 컨테이너 */
  .MyActivityBox {
    width: 60vw;
    height: 30vh;
  }
  /* 최근활동 박스 */
  .RecentActivityBox {
    font-size: 0.8em;
    gap: 20px;
  }
}
