.MainContainer {
  justify-content: center;
  display: flex;
  width: 100vw;
  background-color: #f5e7d2;
  position: absolute;
  margin-top: 15%;
}
.MainTitle {
  position: absolute;
  margin-top: -9%;
  font-size: 1.8em;
}
.color {
  width: 100vw;
  height: 100%;
  background-color: #f5e7d2;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
}
.DaliyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 2vw;
  border-radius: 20px;
  width: 27vw;
  height: 27.5vh;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-bottom: 5%;
}
.DaliyTitleText {
  position: absolute;
  height: 5vh;
  font-weight: bold;
  font-size: 3vh;
  margin-top: -6.5%;
}
.DaliyTitle2Text {
  margin-top: -2.2%;
  text-align: center;
  flex: 1;
  font-size: 2vh;
  overflow-wrap: break-word !important;
}
.maintest {
  display: flex;
  justify-content: center; /* 가운데 기준 */
  align-items: center;
  position: relative;
  width: 100%;
}

.DaliyContentText {
  padding-top: 4%;
  text-align: center;
  font-size: 2vh;
}

.DailyListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 20px;
  height: 80%;
  margin-top: 5vh;
  width: 100%;
}
.TitleInputBox {
  text-align: center;
  position: absolute;
  width: 9vw;
  height: 5vh;
  margin-top: 1%;
  border-radius: 1vw;
}
.SortButton {
  position: absolute;
  width: 6vw;
  height: 4.4vh;
  cursor: pointer;
  background-color: #7b5d43;
  border-radius: 14px;
  color: white;
  font-size: 1.1em;
  border-color: #7b5d43;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2%;
  margin: 2%;
}
.DateText {
  position: absolute;
  right: 5%;
  margin-left: 14%;
  margin-bottom: 2.2%;
}
.Line {
  margin-top: 1%;
  margin-left: 5%;
  width: 88%;
  height: 1px;
  background-color: black;
}
.MyProfile {
  cursor: pointer;
  margin-bottom: 16vh;
  position: absolute;
  margin-right: 17vw;
  width: 3vw;
  height: 6vh;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
.MyProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.7vh;
    margin-top: -6.5%;
  }
  .MainTitle {
    font-size: 1.7em;
    margin-top: -9%;
  }
  .TitleInputBox {
    position: absolute;
    width: 14vw;
    height: 5vh;
    margin-top: 1%;
    border-radius: 2vw;
  }

  .MyProfile {
    cursor: pointer;
    margin-bottom: 13vh;
    position: absolute;
    margin-right: 20vw;
    width: 3.3vw;
    height: 5vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
  }
}

@media (max-width: 1024px) {
  .TitleInputBox {
    position: absolute;
    width: 14vw;
    height: 5vh;
    margin-top: 1%;
    border-radius: 2vw;
  }

  .MainTitle {
    font-size: 1.5em;
    margin-top: -9%;
  }

  .SortButton {
    width: 6.2vw;
    height: 4vh;
    font-size: 0.9em;
  }
  .DaliyBox {
    margin-top: 10%;
    width: 26vw;
    height: 27.5vh;
    margin-bottom: 5%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.4vh;
    margin-top: -6.5%;
  }
  .DaliyTitle2Text {
    margin-top: -2.2%;
    font-size: 1.8vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 3%;
    text-align: center;
    font-size: 1.7vh;
  }

  .DateText {
    margin-bottom: 2.2%;
    font-size: 1.3vh;
  }
  .Line {
    margin-top: 1%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 20%;
    gap: 75px;
  }

  .MyProfile {
    cursor: pointer;
    margin-bottom: 13vh;
    position: absolute;
    margin-right: 18vw;
    width: 4vw;
    height: 5vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .TitleInputBox {
    position: absolute;
    width: 19vw;
    height: 4vh;
    margin-top: 1%;
    border-radius: 2vw;
  }
  .MainTitle {
    font-size: 1.3em;
    margin-top: -9%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 8vw;
    height: 4vh;
    font-size: 0.8em;
  }
  .DailyListWrapper {
    margin-top: 10%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 35vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.1vh;
    margin-top: -12.6%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 2vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    font-size: 1.6vh;
  }

  .DateText {
    margin-bottom: 3.5%;
    font-size: 1.3vh;
  }
  .Line {
    margin-top: 2%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 17vh;
    position: absolute;
    margin-right: 24vw;
    width: 5vw;
    height: 4.7vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 640px) {
  .TitleInputBox {
    position: absolute;
    width: 19vw;
    height: 4vh;
    margin-top: 1%;
    border-radius: 2vw;
  }
  .MainTitle {
    font-size: 1.3em;
    margin-top: -9%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 10.5vw;
    height: 4vh;
    font-size: 1em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 35vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 1.9vh;
    margin-top: -15%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.7vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    font-size: 1.3vh;
  }

  .DateText {
    margin-bottom: 3.5%;
    font-size: 1.1vh;
  }
  .Line {
    margin-top: 3%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 16vh;
    position: absolute;
    margin-right: 24vw;
    width: 5.1vw;
    height: 3.9vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
    min-height: 200vh;
  }
}

@media (max-width: 480px) {
  .TitleInputBox {
    position: absolute;
    width: 25vw;
    height: 3.7vh;
    margin-top: 2%;
    border-radius: 2vw;
  }
  .MainTitle {
    font-size: 1.1em;
    margin-top: -9%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 12vw;
    height: 3.6vh;
    font-size: 0.9em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 35vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 1.9vh;
    margin-top: -15%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.5vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    font-size: 1.3vh;
  }

  .DateText {
    margin-bottom: 24%;
    font-size: 1.2vh;
  }
  .Line {
    margin-top: 3%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 21vh;
    position: absolute;
    margin-right: 24vw;
    width: 6.1vw;
    height: 3.9vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
    min-height: 100vh;
    padding-bottom: 5%;
  }
}

@media (max-width: 451px) {
  .TitleInputBox {
    position: absolute;
    width: 25vw;
    height: 3.7vh;
    margin-top: 2%;
    border-radius: 2vw;
  }
  .MainTitle {
    font-size: 1.1em;
    margin-top: -9%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 12vw;
    height: 3.6vh;
    font-size: 0.9em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 35vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 1.9vh;
    margin-top: -15%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.7vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    font-size: 1.3vh;
  }

  .DateText {
    margin-bottom: 24%;
    font-size: 1.1vh;
  }
  .Line {
    margin-top: 3%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 21vh;
    position: absolute;
    margin-right: 24vw;
    width: 6.1vw;
    height: 3.9vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
    min-height: 200vh;
  }
}

@media (max-width: 431px) {
  .TitleInputBox {
    position: absolute;
    width: 25vw;
    height: 3.7vh;
    margin-top: 2%;
    border-radius: 2vw;
  }
  .MainTitle {
    font-size: 1.1em;
    margin-top: -9%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 14vw;
    height: 3.6vh;
    font-size: 0.9em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 35vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 1.9vh;
    margin-top: -15%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.7vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    font-size: 1.3vh;
  }

  .DateText {
    margin-bottom: 27%;
    font-size: 1.1vh;
  }
  .Line {
    margin-top: 3%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 21vh;
    position: absolute;
    margin-right: 24vw;
    width: 6.1vw;
    height: 3.9vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 21%;
    min-height: 200vh;
  }
}
@media (max-width: 400px) {
  .TitleInputBox {
    position: absolute;
    width: 30vw;
    height: 3.2vh;
    margin-top: 2%;
    border-radius: 3vw;
  }
  .MainTitle {
    font-size: 0.9em;
    margin-top: -7%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 15vw;
    height: 3.2vh;
    font-size: 0.76em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 67vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.5vh;
    margin-top: -18%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.8vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 10%;
    text-align: center;
    font-size: 1.5 vh;
  }

  .DateText {
    margin-bottom: 4.2%;
    font-size: 1.3vh;
  }
  .Line {
    margin-top: 1%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 14vh;
    position: absolute;
    margin-right: 47vw;
    width: 8vw;
    height: 4vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 20%;
    min-height: 200vh;
  }
}
@media (max-width: 411px) {
  .TitleInputBox {
    position: absolute;
    width: 30vw;
    height: 3.2vh;
    margin-top: 2%;
    border-radius: 3vw;
  }
  .MainTitle {
    font-size: 0.9em;
    margin-top: -7%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 15vw;
    height: 3.2vh;
    font-size: 0.76em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    height: 85%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 67vw;
    height: 28vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.5vh;
    margin-top: -18%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.8vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 10%;
    text-align: center;
    font-size: 1.5 vh;
  }

  .DateText {
    margin-bottom: 4.2%;
    font-size: 1.3vh;
  }
  .Line {
    margin-top: 1%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 14vh;
    position: absolute;
    margin-right: 47vw;
    width: 8vw;
    height: 4vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .MainContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 20%;
    min-height: 200vh;
  }
}
@media (max-width: 375px) {
  .TitleInputBox {
    position: absolute;
    width: 29vw;
    height: 3.1vh;
    margin-top: 2%;
    border-radius: 3vw;
  }
  .MainTitle {
    font-size: 0.9em;
    margin-top: -8%;
  }
  .gap {
    gap: 35px;
  }

  .SortButton {
    width: 15vw;
    height: 3.2vh;
    font-size: 0.76em;
  }
  .DailyListWrapper {
    margin-top: 14%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    height: 80%;
  }
  .DaliyBox {
    margin-top: 5%;
    width: 67vw;
    height: 27vh;
    margin-bottom: 0%;
  }
  .DaliyTitleText {
    height: 5vh;
    font-size: 2.5vh;
    margin-top: -18%;
  }
  .DaliyTitle2Text {
    margin-top: -4%;
    font-size: 1.8vh;
  }

  .DaliyContentText {
    position: absolute;
    margin-top: 10%;
    text-align: center;
    font-size: 1.5 vh;
  }

  .DateText {
    margin-bottom: 4.2%;
    font-size: 1.3vh;
  }
  .Line {
    margin-top: 1%;
    margin-left: 5%;
    width: 88%;
    height: 1px;
    background-color: black;
  }
  .ButtonContainer {
    margin-top: 28%;
    gap: 75px;
  }
  .MyProfile {
    cursor: pointer;
    margin-bottom: 14vh;
    position: absolute;
    margin-right: 47vw;
    width: 8vw;
    height: 4vh;
    background-color: #e0e0e0;
    border-radius: 45%;
    overflow: hidden;
  }
  .MyProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .MainContainer {
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f5e7d2;
    position: absolute;
    margin-top: 20%;
    min-height: 200vh;
  }
}
