@import "pretendard/dist/web/static/pretendard.css";

body {
  height: 100vh;
  font-family: "Pretendard", sans-serif;
}

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 전체박스 */
.Mainbox {
  width: 66vw;
  height: 95vh;
  background-color: #f9eede;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 프로필변경 */
.SubTitleBox {
  font-size: 2.6vh;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5e7d2;
}
/* 안쪽박스 */
.MyProfileBox {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
/* 이미지 */
.MyProfile {
  width: 8vw;
  height: 15vh;
  background-color: #ffffff;
  border-radius: 100%;
  overflow: hidden;
}
.MyProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 아래 회색박스 전체 */
.ProfileChangeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  height: 55vh;
  background-color: #f0f0f0;
}
/* 회색박스 헤더 */
.ProfileChangetitleBox {
  top: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
  height: 7vh;
  background-color: #e5e4e2;
}
.HiddenInput {
  display: none;
}
/* 내컴퓨터에서 찾기 */
.CustomButton {
  margin-right: 2%;
  cursor: pointer;
}
.CustomButton:hover {
  transform: scale(1.05);
}
/* 프로필 이미지 텍스트 */
.ProfileSubTitle {
  margin-left: 2%;
}
/* 사진있는 박스 */
.MyProfileCheckBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  gap: 50px;
}
/* 사진있는 동그라미 */
.MyProfileWriteCircle {
  width: 8vw;
  height: 15vh;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PreviewText {
  font-size: 0.7em;
  font-weight: 600;
}
/* 버튼 */
.ProfileSubmitButton {
  top: 0;
  cursor: pointer;
  text-align: center;
  width: 6vw;
  height: 5vh;
  border-radius: 10px;
  background-color: #9c795a;
  color: white;
  border: none;
}
.ProfileSubmitButton:hover {
  transform: scale(1.05);
}

@media (max-width: 1280px) {
  /* 전체박스 */
  .Mainbox {
    width: 66vw;
    height: 95vh;
    margin-top: 2%;
  }
  /* 프로필변경 */
  .SubTitleBox {
    font-size: 2.6vh;
    width: 100%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 8vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 55vw;
    height: 55vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 55vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 10%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 8vw;
    height: 15vh;
  }
  .PreviewText {
    font-size: 0.5em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.9em;
  }
  .CustomButton {
    font-size: 0.9em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    width: 6.5vw;
    height: 5vh;
  }
}

@media (max-width: 1024px) {
  /* 전체박스 */
  .Mainbox {
    width: 66vw;
    height: 95vh;
    margin-top: 2%;
  }
  /* 프로필변경 */
  .SubTitleBox {
    font-size: 2.6vh;
    width: 100%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 8vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 55vw;
    height: 55vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 55vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 10%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 8vw;
    height: 15vh;
  }
  .PreviewText {
    font-size: 0.5em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.8em;
  }
  .CustomButton {
    font-size: 0.8em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 7vw;
    height: 5vh;
  }
}

@media (max-width: 768px) {
  /* 전체박스 */
  .Mainbox {
    width: 66vw;
    height: 95vh;
    margin-top: 2%;
  }
  /* 프로필변경 */
  .SubTitleBox {
    font-size: 2.6vh;
    width: 100%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 13vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 55vw;
    height: 55vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 55vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 15%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 12vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.8em;
  }
  .CustomButton {
    font-size: 0.8em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 8.5vw;
    height: 5vh;
  }
}

@media (max-width: 640px) {
  .ProfileSubTitle {
    font-size: 0.6em;
  }
  .CustomButton {
    font-size: 0.6em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 10vw;
    height: 5vh;
  }
}

@media (max-width: 480px) {
  /* 전체박스 */
  .Mainbox {
    width: 80vw;
    height: 90vh;
    margin-top: 5%;
  }
  /* 프로필변경 */
  .SubTitleBox {
    font-size: 2.6vh;
    width: 100%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 18vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 60vw;
    height: 50vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 60vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 15%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 18vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.5em;
  }
  .CustomButton {
    font-size: 0.5em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.5em;
    width: 14vw;
    height: 5vh;
  }
}

@media (max-width: 451px) {
  .Mainbox {
    width: 80vw;
    height: 90vh;
    margin-top: 5%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 18vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 60vw;
    height: 50vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 60vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 15%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 18vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.5em;
  }
  .CustomButton {
    font-size: 0.5em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.5em;
    width: 14vw;
    height: 5vh;
  }
}
@media (max-width: 431px) {
  .Mainbox {
    width: 80vw;
    height: 90vh;
    margin-top: 5%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 18vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 60vw;
    height: 50vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 60vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 15%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 18vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.4em;
  }
  .CustomButton {
    font-size: 0.4em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 16vw;
    height: 5vh;
  }
}
@media (max-width: 411px) {
  .Mainbox {
    width: 80vw;
    height: 90vh;
    margin-top: 5%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 3%;
  }
  /* 이미지 */
  .MyProfile {
    width: 18vw;
    height: 15vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 60vw;
    height: 50vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 60vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 15%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 18vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.4em;
  }
  .CustomButton {
    font-size: 0.4em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 16vw;
    height: 5vh;
  }
}
@media (max-width: 400px) {
  /* 전체박스 */
  .Mainbox {
    width: 80vw;
    height: 95vh;
    margin-top: 2%;
  }
  /* 프로필변경 */
  .SubTitleBox {
    font-size: 2.3vh;
    width: 100%;
  }
  /* 안쪽박스 */
  .MyProfileBox {
    margin-bottom: 6%;
  }
  /* 이미지 */
  .MyProfile {
    width: 22vw;
    height: 13vh;
  }
  /* 아래 회색박스 전체 */
  .ProfileChangeBox {
    width: 55vw;
    height: 55vh;
  }
  /* 회색박스 헤더 */
  .ProfileChangetitleBox {
    width: 55vw;
    height: 7vh;
  }
  /* 사진있는 박스 */
  .MyProfileCheckBox {
    margin-top: 20%;
    gap: 50px;
  }
  /* 사진있는 동그라미 */
  .MyProfileWriteCircle {
    width: 22vw;
    height: 14vh;
  }
  .PreviewText {
    font-size: 0.1em;
    font-weight: 600;
  }
  .ProfileSubTitle {
    font-size: 0.2em;
  }
  .CustomButton {
    font-size: 0.2em;
  }
  /* 버튼 */
  .ProfileSubmitButton {
    font-size: 0.6em;
    width: 18vw;
    height: 4.5vh;
  }
}
