.BodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.FormCotainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  width: 60vw;
  height: 70vh;
}
.InputTtitle {
  font-family: "Pretendard", sans-serif;
  margin-top: 5%;
  text-align: center;
  width: 20vw;
  height: 7vh;
  border: none;
  background-color: #f2f2f2;
  font-size: 2.6vh;
}

.Line {
  margin-top: 1%;
  width: 80%;
  height: 1px;
  background-color: black;
}
.InputText {
  font-family: "Pretendard", sans-serif;
  margin-top: 2%;
  width: 100%;
  height: 40vh;
  border: none;
  background-color: #fafafa;
  text-align: center;
  font-size: 2vh;
  resize: none;
  outline: none;
}
.MyInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 70%;
}
.SubmitButton {
  width: 7%;
  height: 5vh;
  background-color: #7b5d43;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}
.btnbox {
  padding-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .FormCotainer {
    width: 70vw;
    height: 70vh;
  }

  .InputTtitle {
    margin-top: 5%;
    width: 20vw;
    height: 7vh;
    font-size: 2.6vh;
  }

  .Line {
    margin-top: 1%;
    width: 85%;
    height: 1px;
  }

  .InputText {
    margin-top: 2%;
    width: 100%;
    height: 40vh;
    font-size: 2vh;
  }

  .SubmitButton {
    width: 7%;
    height: 5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 3%;
  }
}

@media (max-width: 1024px) {
  .SubmitButton {
    width: 9%;
    height: 5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 3%;
  }
}

@media (max-width: 768px) {
  .FormCotainer {
    width: 75vw;
    height: 75vh;
  }
  .SubmitButton {
    width: 11%;
    height: 5vh;
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  .FormCotainer {
    width: 75vw;
    height: 70vh;
  }
  .SubmitButton {
    width: 13%;
    height: 4.5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 5%;
  }
}

@media (max-width: 480px) {
  .FormCotainer {
    height: 65vh;
  }

  .InputTtitle {
    margin-top: 5%;
    width: 40vw;
    font-size: 2.2vh;
  }

  .Line {
    margin-top: 3%;
    width: 90%;
    height: 1px;
  }
  .NameBox {
    font-size: 0.8rem;
  }
  .DayBox {
    font-size: 0.8rem;
  }

  .SubmitButton {
    width: 16%;
    height: 4.5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 7%;
  }
}
@media (max-width: 451px) {
  .FormCotainer {
    width: 75vw;
    height: 65vh;
  }

  .InputTtitle {
    margin-top: 5%;
    height: 6vh;
    width: 40vw;
    font-size: 2.2vh;
  }

  .Line {
    margin-top: 3%;
    width: 90%;
    height: 1px;
  }
  .NameBox {
    font-size: 0.75rem;
  }
  .DayBox {
    font-size: 0.75rem;
  }

  .SubmitButton {
    width: 18%;
    height: 4.5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 5%;
  }
}

@media (max-width: 431px) {
  .FormCotainer {
    width: 75vw;
    height: 65vh;
  }

  .InputTtitle {
    margin-top: 5%;
    height: 5vh;
    width: 40vw;
    font-size: 2.2vh;
  }

  .Line {
    margin-top: 3%;
    width: 93%;
    height: 1px;
  }
  .NameBox {
    font-size: 0.75rem;
  }
  .DayBox {
    font-size: 0.75rem;
  }

  .SubmitButton {
    width: 18%;
    height: 4.5vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 5%;
  }
}

@media (max-width: 411px) {
  .FormCotainer {
    width: 75vw;
    height: 65vh;
  }

  .InputTtitle {
    margin-top: 5%;
    height: 5vh;
    width: 40vw;
    font-size: 2.2vh;
  }

  .Line {
    margin-top: 3%;
    width: 93%;
    height: 1px;
  }
  .NameBox {
    font-size: 0.75rem;
  }
  .DayBox {
    font-size: 0.75rem;
  }

  .SubmitButton {
    width: 19%;
    height: 4vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 5%;
  }
}

@media (max-width: 411px) {
  .FormCotainer {
    width: 75vw;
    height: 65vh;
  }

  .InputTtitle {
    margin-top: 5%;
    height: 5vh;
    width: 40vw;
    font-size: 2.2vh;
  }

  .Line {
    margin-top: 3%;
    width: 93%;
    height: 1px;
  }
  .NameBox {
    font-size: 0.75rem;
  }
  .DayBox {
    font-size: 0.75rem;
  }

  .SubmitButton {
    width: 19%;
    height: 4vh;
    font-size: 1em;
  }
  .btnbox {
    padding-top: 5%;
  }
}
